.lib-sample-input {
	display: inline-grid;
	overflow-wrap: break-word;

	label {
		display: flex;
		align-items: center;
		justify-content: center;

		@apply mb-2 text-sm text-gray-900 font-medium dark:text-white;
	}

	input {
		@apply g-gray-50 border border-gray-300 rounded-lg p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 bg-red;
	}
}
